*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

ul[class],
ol[class] {
  padding: 0;
}

body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
}

body {
  background-color: #F3F2E7;
  height: 100%;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1;
}

body._lock {
  overflow: hidden;
}

ul[class],
ol[class] {
  list-style: none;
}

a:not([class]) {
  text-decoration-skip-ink: auto;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  display: block;
}

article > * + * {
  margin-top: 1em;
}

input,
button,
textarea,
select {
  font: inherit;
}

.wrapper {
  min-height: 100%;
}

@media (prefers-reduced-motion: reduce) {
  * {
    -webkit-animation-duration: 0.01ms !important;
            animation-duration: 0.01ms !important;
    -webkit-animation-iteration-count: 1 !important;
            animation-iteration-count: 1 !important;
    -webkit-transition-duration: 0.01ms !important;
            transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

.title-text {
  font-family: Roboto;
  font-style: 41px;
  font-weight: 900;
  line-height: 48px;
  color: #BDBDBD;
}

.price-list .catalog__cards-wrapper {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.price-list .catalog__card {
  margin-right: 35px;
}

@media (max-width: 986px) {
  .title-text {
    text-align: center;
  }
  .price-list .catalog__cards-wrapper {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .price-list .catalog__card {
    margin-right: 8px;
  }
}

@font-face {
  font-family: Gotham;
  src: url("../assets/fonts/Gotham-Medium.ttf");
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  font-family: Roboto;
  font-weight: 400;
  line-height: 23.44px;
  background-color: #F3F2E7;
}

.header__container {
  max-width: 1140px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px 0 10px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-height: 77px;
}

.header__logo {
  position: relative;
  z-index: 5;
}

.menu__icon {
  display: none;
}

.menu__list li {
  border-radius: 6px;
  padding: 10px;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
}

.menu__list li:hover > a {
  color: #fff;
  text-shadow: 0 0 .9px #fff, 0 0 .9px #fff, 0 0 .9px #fff;
}

.menu__list li:hover.orange {
  background-color: #F88221;
}

.menu__list li:hover.blue {
  background-color: #1659A8;
}

.menu__list li:last-child {
  color: #2F80ED;
  border-radius: 8px;
  border: 1px solid #2F80ED;
  padding: 12px 16px;
}

.menu__list li:last-child > a {
  font-size: 16px;
  line-height: 19px;
  color: #2F80ED;
  font-weight: 700;
  padding: 0;
}

.menu__list li:last-child:hover {
  background-color: #2F80ED;
}

.menu__list li:last-child:hover > a {
  text-shadow: none;
  color: #fff;
}

.menu__link {
  color: #4F4F4F;
  font-size: 20px;
}

@media (min-width: 986px) {
  .menu__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu__list li {
    position: relative;
    margin: 0px 0px 0px 10px;
  }
}

@media (max-width: 986px) {
  .menu__icon {
    z-index: 5;
    display: block;
    position: relative;
    width: 30px;
    height: 18px;
    cursor: pointer;
  }
  .menu__icon span, .menu__icon:before, .menu__icon:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #333333;
  }
  .menu__icon:before, .menu__icon:after {
    content: "";
  }
  .menu__icon:before {
    top: 0;
  }
  .menu__icon:after {
    bottom: 0;
  }
  .menu__icon span {
    top: 50%;
    -webkit-transform: scale(1) translate(0px, -50%);
            transform: scale(1) translate(0px, -50%);
  }
  .menu__icon._active span {
    -webkit-transform: scale(0) translate(0px, -50%);
            transform: scale(0) translate(0px, -50%);
  }
  .menu__icon._active:before {
    top: 48%;
    -webkit-transform: rotate(-45deg) translate(0px, -50%);
            transform: rotate(-45deg) translate(0px, -50%);
  }
  .menu__icon._active:after {
    bottom: 48%;
    -webkit-transform: rotate(45deg) translate(0px, 50%);
            transform: rotate(45deg) translate(0px, 50%);
  }
  .header {
    background: none;
  }
  .header__container {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding: 20px 20px;
  }
  .header__logo {
    margin-top: 10px;
  }
  .menu__body {
    position: fixed;
    top: 0;
    right: -100%;
    width: 70%;
    height: 100%;
    background-color: #F3F2E7;
    padding: 100px 30px 30px 30px;
    -webkit-transition: right 0.3s ease 0s;
    transition: right 0.3s ease 0s;
    -webkit-box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.16);
            box-shadow: 0px 4px 25px rgba(0, 0, 0, 0.16);
    overflow: auto;
  }
  .menu__body._active {
    right: 0;
  }
  .menu__list li {
    border-top: 1px solid #dddddd;
    margin: 0px 0px 20px -10px;
  }
  .menu__list li:last-child {
    width: 180px;
    text-align: center;
    margin-bottom: 0;
    padding: 14px 18px;
  }
  .menu__link {
    font-size: 24px;
  }
}

.page__advantages {
  padding: 97px 0 0 0;
}

.container {
  max-width: 1140px;
}

.advantages__body {
  padding-left: 20px;
  background-image: url("../assets/images/objects.png");
  z-index: -4;
}

.advantages__item h1 {
  font-family: Roboto;
  font-weight: 900;
  color: #4F4F4F;
  font-size: 36px;
  line-height: 48px;
}

.advantages__btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  background-color: #2F80ED;
  border-radius: 8px;
  border: 1px solid #2F80ED;
  padding: 14px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.advantages__btn:hover {
  background-color: #F3F2E7;
  color: #2F80ED;
  border-color: #2F80ED;
}

.advantages__images {
  position: relative;
}

.advantages__images > img {
  width: 100%;
}

.advantages__mask {
  position: absolute;
  top: 158px;
  left: -75px;
  z-index: -1;
  width: 406px;
  height: 406px;
}

.advantages__mask > img {
  width: 100%;
}

.advantages__circle {
  background-color: #E59056;
  position: absolute;
  width: 258px;
  height: 258px;
  border-radius: 50%;
  top: 296px;
  left: 360px;
  z-index: -1;
}

.advantages .regular-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 21px;
  margin: 30px 0px 45px 0px;
}

.advantages__card {
  width: 172px;
  height: 172px;
  background-color: #fff;
  margin: 0px 40px 55px 0px;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
  text-align: center;
  cursor: pointer;
}

.advantages__card:hover .card__title {
  color: #333;
}

.advantages__bottom {
  padding-left: 20px;
}

.cards__wrapper {
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.card__icon {
  margin: 15px auto 0 auto;
  width: 82px;
  height: 82px;
}

.card__title {
  margin: 14px 0px 0px 0px;
  color: #828282;
  font-family: Gotham;
  font-weight: 500;
  font-size: 16px;
}

.card__subtitle {
  margin: 3px 0px 0px 0px;
  color: #000;
  font-family: Roboto;
  font-weight: 100;
  font-size: 14px;
}

@media (max-width: 986px) {
  .page__advantages {
    background: top/60% no-repeat url("../assets/images/objects_mobile.png");
    padding: 137px 0 0 0;
  }
  .advantages h1 {
    font-size: 24px;
    line-height: 26px;
  }
  .advantages .regular-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    margin: 20px 0px 25px 0px;
  }
  .advantages__wrapper {
    background: none;
  }
  .advantages__wrapper.container {
    padding: 0 7px;
  }
  .advantages__item {
    padding: 0 0 0 10px;
  }
  .advantages__btn {
    padding: 12px 14px;
    font-size: 14px;
    line-height: 14px;
  }
  .advantages__images {
    margin: 30px 0 0px 30px;
    width: 223px;
    height: 223px;
    z-index: 4;
  }
  .advantages__circle {
    width: 111px;
    height: 111px;
    top: 110px;
    left: 140px;
  }
  .advantages__mask {
    width: 174px;
    height: 174px;
    top: 58px;
    left: -25px;
  }
  .advantages__bottom {
    margin: 55px 0px 0px 0px;
    padding: 5px 0 20px 0;
  }
  .advantages__card {
    width: 137px;
    height: 137px;
    margin: 10px 5px 0 5px;
  }
  .advantages__body {
    padding-left: 10px;
  }
  .card__icon {
    margin: 11px auto 0 auto;
    width: 65px;
    height: 65px;
  }
  .card__title {
    margin: 11px 0px 0px 0px;
    color: #828282;
    font-family: Gotham;
    font-weight: 500;
    font-size: 12.74px;
  }
  .card__subtitle {
    margin: 2.5px 0px 0px 0px;
    color: #000;
    font-family: Roboto;
    font-weight: 100;
    font-size: 9.5px;
  }
  .cards__wrapper {
    margin: 5px 0px 5px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page__catalog {
  background: #fff url("../assets/images/objects2.png");
}

.catalog__wrapper {
  padding: 57px 0 95px 30px;
}

.catalog__card {
  padding: 28px 0 0 0;
  width: 257px;
  height: 328px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
  text-align: center;
  cursor: pointer;
}

.catalog__card:hover .card__title {
  color: #333;
}

.catalog__icon {
  margin: 0 auto;
  height: 150px;
}

.catalog__icon.last {
  height: 130px;
}

.catalog__title {
  margin: 28px 0px 30px 0px;
  font-family: Gotham;
  font-weight: 500;
  font-size: 16px;
  color: #828282;
}

.catalog__btn {
  font-family: Roboto;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  background-color: #2F80ED;
  border-radius: 8px;
  border: 1px solid #2F80ED;
  padding: 14px 18px;
  font-size: 16px;
  line-height: 19px;
}

.catalog__btn:hover {
  background-color: #F3F2E7;
  color: #2F80ED;
  border-color: #2F80ED;
}

.catalog__cards-wrapper {
  margin: 30px 0px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

@media (max-width: 986px) {
  .catalog__wrapper {
    padding: 37px 10px 40px 10px;
  }
  .catalog__card {
    padding: 15px 0 0 0;
    margin: 10px 5px 0px 5px;
    width: 137px;
    height: 175px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
    text-align: center;
    cursor: pointer;
  }
  .catalog__card:hover .card__title {
    color: #333;
  }
  .catalog__icon {
    margin: 0 auto;
    height: 80px;
  }
  .catalog__icon.last {
    height: 70px;
  }
  .catalog__title {
    margin: 12px 0px 12px 0px;
    font-family: Gotham;
    font-weight: 500;
    font-size: 8.55px;
    color: #828282;
  }
  .catalog__btn {
    font-family: Roboto;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    background-color: #2F80ED;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    padding: 7.4px 9.6px;
    font-size: 8.55px;
    line-height: 10px;
  }
  .catalog__btn:hover {
    background-color: #F3F2E7;
    color: #2F80ED;
    border-color: #2F80ED;
  }
  .catalog__cards-wrapper {
    margin: 22px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.production__wrapper {
  padding: 57px 0 95px 30px;
}

.production__cards-wrapper {
  margin: 30px 0px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.production__card {
  padding: 0;
  width: 359px;
  height: 328px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
  text-align: center;
}

.production__card:hover .card__title {
  color: #333;
}

.production__icon {
  margin: 0 auto;
  height: 255px;
}

.production__title {
  margin: 28px 0px 26px 0px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  color: #333;
}

@media (max-width: 986px) {
  .production__wrapper {
    padding: 57px 10px 40px 10px;
  }
  .production__card {
    padding: 0;
    margin: 10px 5px 0px 5px;
    width: 289.66px;
    height: 264.65px;
    background-color: #fff;
    border-radius: 8px;
    -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
    text-align: center;
    cursor: pointer;
  }
  .production__card:hover .card__title {
    color: #333;
  }
  .production__icon {
    margin: 0 auto;
    width: 289.66px;
    height: 205.75px;
  }
  .production__title {
    margin: 22px 0px 20px 0px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 12px;
    line-height: 14px;
    color: #333;
  }
  .production__btn {
    font-family: Roboto;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    background-color: #2F80ED;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    padding: 7.4px 9.6px;
    font-size: 8.55px;
    line-height: 10px;
  }
  .production__btn:hover {
    background-color: #F3F2E7;
    color: #2F80ED;
    border-color: #2F80ED;
  }
  .production__cards-wrapper {
    margin: 22px 0px 0px 0px;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.page__about {
  background: right/60% no-repeat #fff url("../assets/images/about_objects.png");
  z-index: -2;
}

.about__wrapper {
  padding: 57px 0 95px 30px;
}

.about__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.about__item {
  margin: 20px 0px 0px 0px;
}

.about__item .regular-text {
  color: #828282;
  margin-bottom: 20px;
  line-height: 21.09px;
}

.about__item .regular-text ins {
  color: #333;
}

.about__item-first {
  width: 487px;
}

.about__images {
  position: relative;
}

.about__images .mainimg {
  position: relative;
  z-index: 3;
}

.about__mask {
  position: absolute;
  top: -69px;
  right: -50px;
  display: block;
  width: 406px;
  z-index: 2;
}

.about__mask > img {
  border-radius: 50%;
  width: 100%;
}

.about__circle {
  top: 285px;
  left: -20px;
  position: absolute;
  border-radius: 50%;
  background-color: #2D9CDB;
  width: 108px;
  height: 108px;
  z-index: 2;
}

.about__rectangle {
  top: -20px;
  left: -20px;
  position: absolute;
  border-radius: 19px;
  background-color: #E29F72;
  width: 99.46px;
  height: 99.46px;
  z-index: 2;
}

@media (max-width: 986px) {
  .about__body {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .about__images {
    margin: 20px 0px 0px 30px;
    position: relative;
  }
  .about__images .mainimg {
    width: 238.11px;
    height: 157.43px;
    position: relative;
    z-index: 3;
  }
  .about__mask {
    position: relative;
    display: block;
    width: 177.05px;
    z-index: 2;
  }
  .about__mask > img {
    position: absolute;
    top: -125px;
    right: -40px;
    border-radius: 50%;
    width: 100%;
  }
  .about__circle {
    top: 126px;
    left: -10px;
    position: absolute;
    border-radius: 50%;
    background-color: #2D9CDB;
    width: 47.1px;
    height: 47.1px;
    z-index: 2;
  }
  .about__rectangle {
    top: -15px;
    left: -10px;
    position: absolute;
    border-radius: 8.29px;
    background-color: #E29F72;
    width: 43.37px;
    height: 43.37px;
    z-index: 2;
  }
  .about__item {
    padding: 0;
    margin: 15px 0px 0px 0px;
  }
  .about__item .regular-text {
    color: #828282;
    margin-bottom: 13px;
    line-height: 14.06px;
    font-size: 12px;
  }
  .about__item .regular-text ins {
    color: #333;
  }
  .about__wrapper {
    padding: 22px 0 55px 15px;
  }
  .about__item-first {
    margin-bottom: 10px;
    width: 288.69px;
  }
}

.page__request {
  margin: 0 auto;
  background: center/cover no-repeat url("../assets/images/request_bg.png");
}

.request__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 1366px;
  min-height: 461px;
  max-height: 530px;
}

.request__item {
  padding: 0;
}

.request__image {
  position: relative;
}

.request__image img {
  position: absolute;
  top: -67px;
  left: 230px;
}

.request__body h3 {
  margin: 5px 0px 26px 0px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 36px;
  line-height: 41.19px;
  color: #fff;
}

.request__body .regular-text {
  color: #fff;
  margin-bottom: 26px;
  line-height: 27.2px;
}

.request__body label {
  color: #fff;
}

.request__btn-wrapper {
  margin: 30px 0px 0px 0px;
}

.request__btn {
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #333;
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #fff;
  padding: 14px 18px;
  font-size: 16px;
  line-height: 19px;
  font-weight: 700;
}

.request__btn:hover {
  background: none;
  color: #fff;
  border-color: #fff;
}

.request__group {
  position: relative;
  margin-bottom: 10px;
}

.request input {
  color: #fff;
  background: none;
  font-size: 16px;
  padding: 10px;
  display: block;
  width: 350px;
  border: none;
  border-bottom: 1px solid #ccc;
}

.request input:focus {
  outline: none;
}

.request label {
  color: #fff;
  font-size: 16px;
  position: absolute;
  pointer-events: none;
  top: 5px;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.request input:focus ~ label, .request input:valid ~ label {
  top: -10px;
  font-size: 16px;
  color: #fff;
}

.request .bar {
  position: relative;
  display: block;
  width: 350px;
}

.request .bar:before, .request .bar:after {
  content: "";
  height: 2px;
  width: 0;
  bottom: 15.5px;
  position: absolute;
  background: #fff;
  transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -webkit-transition: 0.2s ease all;
}

.request .bar:before {
  left: 50%;
}

.request .bar:after {
  right: 50%;
}

.request input:focus ~ .bar:before,
.request input:focus ~ .bar:after {
  width: 50%;
}

.request .about__item-second {
  margin-left: 85%;
  width: 435px;
  height: 316px;
}

@media (max-width: 986px) {
  .page__request {
    margin: 0 auto;
    background: center/cover no-repeat url("../assets/images/request_phones.png");
  }
  .request__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    max-width: 980px;
    min-height: 315px;
    max-height: 330px;
  }
  .request__body h3 {
    margin: 0px 0px 15px 0px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 20px;
    line-height: 23.44px;
    color: #fff;
  }
  .request__body .regular-text {
    color: #fff;
    margin-bottom: 14px;
    font-size: 12px;
    line-height: 20.4px;
  }
  .request__body label {
    color: #fff;
  }
  .request .about__item-first {
    display: none;
  }
  .request .about__item-second {
    margin: 40px 0px 0px 15px;
    width: 290px;
    height: 235px;
  }
  .request .bar {
    width: 233px;
  }
  .request input {
    color: #fff;
    background: none;
    font-size: 16px;
    padding: 6px;
    display: block;
    width: 233px;
    border: none;
    border-bottom: 1px solid #ccc;
  }
  .request input:focus {
    outline: none;
  }
  .request label {
    color: #fff;
    font-size: 12px;
    position: absolute;
    pointer-events: none;
    top: 5px;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
  }
  .request input:focus ~ label, .request input:valid ~ label {
    top: -10px;
    font-size: 12px;
    color: #fff;
  }
  .request__group {
    position: relative;
    margin-bottom: 0px;
  }
  .request__btn-wrapper {
    margin: 10px 0px 0px 0px;
  }
  .request__btn {
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    border: 1px solid #fff;
    padding: 10px 12px;
    font-size: 12px;
    line-height: 14.06px;
    font-weight: 700;
  }
  .request__btn:hover {
    background: none;
    color: #fff;
    border-color: #fff;
  }
}

.page__partners {
  background-color: #fff;
}

.partners__wrapper {
  padding: 57px 0 69px 30px;
}

.partners__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.partners__top .partner-text {
  padding-left: 20px;
}

.partners__bottom {
  padding-top: 30px;
}

.scrollbar {
  position: relative;
}

.scrollbar__main {
  position: absolute;
  top: 20px;
  right: 0;
  width: 272px;
  height: 6px;
  border-radius: 20px;
  background-color: #e0e0e0;
}

.scrollbar__small {
  position: absolute;
  top: 17px;
  right: 70px;
  width: 67px;
  height: 11px;
  border-radius: 30px;
  background-color: #2F80ED;
}

@media (max-width: 986px) {
  .scrollbar {
    display: none;
  }
  .partners {
    text-align: center;
  }
  .partners__wrapper {
    padding: 42px 0 69px 0;
  }
  .partners__top {
    display: block;
  }
  .partners__top .partner-text {
    padding-left: 0;
  }
  .partners__logo {
    -ms-grid-column-align: center;
        justify-self: center;
    padding: 0;
    height: 52px;
    width: 112px;
  }
  .partners__logo img {
    width: 100%;
    height: 100%;
  }
  .images-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.map__wrapper {
  background: center/cover url("../assets/images/map.png");
  height: 600px;
  width: 100%;
  padding: 57px 0 95px 30px;
}

.map__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.map__card {
  background-color: #fff;
  border-radius: 10px;
  -webkit-filter: drop-shadow(0 5px 30px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 5px 30px rgba(0, 0, 0, 0.1));
  padding: 30px 40px;
  max-width: 540px;
}

.card-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 210px;
}

.card__item-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 50px;
}

.card__email {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 18.75px;
  color: #000;
}

.card__input-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.card__input {
  border: 1px solid #DCDCDC;
  border-radius: 8px;
  outline: none;
  padding: 12px;
  width: 48%;
  position: relative;
}

.card__input::-webkit-input-placeholder {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #DCDCDC;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}

.card__input:-ms-input-placeholder {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #DCDCDC;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}

.card__input::-ms-input-placeholder {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #DCDCDC;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}

.card__input::placeholder {
  position: absolute;
  top: 15px;
  left: 20px;
  color: #DCDCDC;
  font-family: Roboto;
  font-size: 16px;
  line-height: 18.75px;
  font-weight: 400;
}

.card-title {
  margin: 0px 0px 3px 0px;
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #333;
}

.regular-text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #555;
}

.card-call {
  margin-bottom: 24px;
}

.card-call h3 {
  font-family: Roboto;
  font-size: 24px;
  line-height: 24px;
  color: #333;
  font-weight: 700;
}

.card-btn {
  color: #fff;
  font-size: 16px;
  line-height: 19px;
  font-family: Roboto;
  font-weight: 700;
}

.card-btn-wrapper {
  text-align: center;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #2F80ED;
  border-radius: 8px;
  border: 1px solid #2F80ED;
  padding: 14px 18px;
}

.card-btn-wrapper:hover {
  border-color: #2F80ED;
  background-color: #F3F2E7;
}

.card-btn-wrapper:hover .card-btn {
  color: #2F80ED;
}

@media (max-width: 986px) {
  .map__wrapper {
    background: none;
    height: 599px;
    width: 100%;
    padding: 0;
  }
  .map__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0;
  }
  .map__card {
    height: 309px;
    padding: 20px 24px;
  }
  .map__item {
    height: 289px;
    background: url("../assets/images/map_mini.png");
  }
  .card-title {
    margin: 0px 0px 3px 0px;
    font-family: Roboto;
    font-weight: 700;
    font-size: 10px;
    line-height: 14.22px;
    color: #333;
  }
  .regular-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 9.48px;
    line-height: 14.22px;
    color: #555;
  }
  .card-call {
    margin-bottom: 18px;
  }
  .card-call h3 {
    font-family: Roboto;
    font-size: 14.22px;
    line-height: 14.22px;
    color: #333;
    font-weight: 700;
  }
  .card-btn {
    color: #fff;
    font-size: 10px;
    line-height: 17.78px;
    font-family: Roboto;
    font-weight: 700;
  }
  .card-btn-wrapper {
    text-align: center;
    width: 100%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #2F80ED;
    border-radius: 4.74px;
    border: 1px solid #2F80ED;
    padding: 7px 9px;
  }
  .card-btn-wrapper:hover {
    border-color: #2F80ED;
    background-color: #F3F2E7;
  }
  .card-btn-wrapper:hover .card-btn {
    color: #2F80ED;
  }
  .card__email {
    font-family: Roboto;
    font-weight: 400;
    font-size: 10px;
    line-height: 11.72px;
    color: #000;
  }
  .card__input-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 14px;
  }
  .card__input {
    border: 1px solid #DCDCDC;
    border-radius: 4.74px;
    padding: 5px;
    width: 48%;
    position: relative;
  }
  .card__input::-webkit-input-placeholder {
    position: absolute;
    top: 11px;
    left: 13px;
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 10px;
    line-height: 11.72px;
    font-weight: 400;
  }
  .card__input:-ms-input-placeholder {
    position: absolute;
    top: 11px;
    left: 13px;
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 10px;
    line-height: 11.72px;
    font-weight: 400;
  }
  .card__input::-ms-input-placeholder {
    position: absolute;
    top: 11px;
    left: 13px;
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 10px;
    line-height: 11.72px;
    font-weight: 400;
  }
  .card__input::placeholder {
    position: absolute;
    top: 11px;
    left: 13px;
    color: #DCDCDC;
    font-family: Roboto;
    font-size: 10px;
    line-height: 11.72px;
    font-weight: 400;
  }
  .card-item {
    height: 126px;
  }
  .card__item-wrapper {
    margin-bottom: 38px;
  }
}

.footer__wrapper {
  padding: 20px;
  text-align: center;
}

.footer__wrapper h5 {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 14.06px;
  color: #4F4F4F;
  margin: 0px 0px 0px 0px;
}

.details__wrapper {
  padding: 57px 0 70px 30px;
}

.details__cards-wrapper {
  position: relative;
  padding: 0 14px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.details__card {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
  margin-bottom: 14px;
  width: 546px;
  height: 328px;
  background-color: #fff;
  border-radius: 8px;
  -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
  text-align: center;
  cursor: pointer;
}

.details__btn {
  text-align: center;
  padding: 47px 0 0 0;
}

.details__btn a {
  font-family: Roboto;
  font-weight: 700;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  color: #fff;
  background-color: #2F80ED;
  border-radius: 8px;
  border: 1px solid #2F80ED;
  padding: 14px 18px;
  font-size: 16px;
  line-height: 18.75px;
}

.details__btn a:hover {
  background-color: #F3F2E7;
  color: #2F80ED;
  border-color: #2F80ED;
}

.details__title {
  margin-bottom: 50px;
}

.details .card__icon {
  margin: 0;
  width: 100%;
}

.details .card__title {
  text-align: center;
  margin: 0 0px 24px 0px;
}

.details .card__title h4 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 18.75px;
  color: #333;
}

.details__modal {
  display: none;
}

.details__modal._active {
  display: block;
}

.details__modal .modal__wrapper {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  width: 706px;
  height: 500px;
  z-index: 1060;
  padding: 50px;
  background-color: #fff;
  border-radius: 8.12px;
  -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
          filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
}

.details__modal .modal__title {
  margin-bottom: 24px;
}

.details__modal .modal__title h3 {
  font-family: Roboto;
  font-size: 16px;
  line-height: 18.75px;
  color: #333;
  font-weight: 700;
}

.details__modal .modal__text h5 {
  font-family: Roboto;
  font-weight: 400;
  line-height: 18.75px;
  font-size: 16px;
  margin-bottom: 22px;
  color: #828282;
}

.details__modal .modal__close {
  z-index: 5;
  display: block;
  float: right;
  position: relative;
  width: 22px;
  height: 22px;
  cursor: pointer;
}

.details__modal .modal__close span, .details__modal .modal__close:after {
  left: 0;
  position: absolute;
  height: 10%;
  width: 100%;
  -webkit-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  background-color: #333333;
}

.details__modal .modal__close:after {
  content: "";
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  top: -15px;
  left: 25px;
}

.details__modal .modal__close span {
  left: 25px;
  top: -15px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

@media (max-width: 986px) {
  .details__title {
    padding-left: 20px;
  }
  .details__title .title-text {
    text-align-last: left;
    font-size: 20px;
    line-height: 23.44px;
  }
  .details__wrapper {
    padding: 57px 0 45px 0px;
  }
  .details__cards-wrapper {
    padding: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .details__card {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0;
    margin-bottom: 14px;
    width: 290px;
    height: 177px;
    background-color: #fff;
    border-radius: 4.31px;
    -webkit-filter: drop-shadow(0 2.16px 13px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 2.16px 13px rgba(0, 0, 0, 0.1));
    text-align: center;
    cursor: pointer;
  }
  .details__card:hover .card__title {
    color: #333;
  }
  .details__btn {
    text-align: center;
    padding: 28px 0 0 0;
  }
  .details__btn a {
    font-family: Roboto;
    font-weight: 700;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    color: #fff;
    background-color: #2F80ED;
    border-radius: 8px;
    border: 1px solid #2F80ED;
    padding: 10px 12px;
    font-size: 12px;
    line-height: 14.06px;
  }
  .details__btn a:hover {
    background-color: #F3F2E7;
    color: #2F80ED;
    border-color: #2F80ED;
  }
  .details__title {
    margin-bottom: 30px;
  }
  .details .card__icon {
    margin: 0;
    width: 100%;
  }
  .details .card__title {
    text-align: center;
    margin: 0 0px 12px 0px;
  }
  .details .card__title h4 {
    font-family: Roboto;
    font-weight: 700;
    font-size: 10px;
    line-height: 11.72px;
    color: #333;
  }
  .details .modal__wrapper {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    width: 92%;
    max-height: 445px;
    z-index: 1060;
    padding: 30px 26px;
    background-color: #fff;
    border-radius: 8.12px;
    -webkit-filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
            filter: drop-shadow(0 4px 24px rgba(0, 0, 0, 0.1));
  }
  .details .modal__title {
    margin-bottom: 15px;
  }
  .details .modal__title h3 {
    font-family: Roboto;
    font-size: 12px;
    line-height: 14.06px;
    color: #333;
    font-weight: 700;
  }
  .details .modal__text h5 {
    font-family: Roboto;
    font-weight: 400;
    line-height: 14.06px;
    font-size: 12px;
    margin-bottom: 12px;
    color: #828282;
  }
  .details .modal__text h5:last-child {
    margin-bottom: 0;
  }
  .details .modal__close {
    z-index: 5;
    display: block;
    float: right;
    position: relative;
    width: 15px;
    height: 15px;
    cursor: pointer;
  }
  .details .modal__close span, .details .modal__close:after {
    left: 0;
    position: absolute;
    height: 10%;
    width: 90%;
    -webkit-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    background-color: #333333;
  }
  .details .modal__close:after {
    content: "";
    -webkit-transform: rotate(45deg);
            transform: rotate(45deg);
    top: -5px;
    left: 10px;
  }
  .details .modal__close span {
    top: -5px;
    left: 10px;
    -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }
}
